In [1]:

# standard imports

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score, roc_curve
from sklearn.model_selection import GridSearchCV
from datetime import datetime
import re

In [2]:

# read data

games = pd.read_csv('data/games.csv')
tackles = pd.read_csv('data/tackles.csv')
players = pd.read_csv('data/players.csv')
plays = pd.read_csv('data/plays.csv')
weeks = [pd.read_csv(f'data/tracking_week_{i}.csv') for i in range(1, 10)]

In [6]:
tackles

,gameId,playId,nflId,tackle,assist,forcedFumble,pff_missedTackle
0,2022090800,101,42816,1,0,0,0
1,2022090800,393,46232,1,0,0,0
2,2022090800,486,40166,1,0,0,0
3,2022090800,646,47939,1,0,0,0
4,2022090800,818,40107,1,0,0,0
...,...,...,...,...,...,...,...
17421,2022091113,2494,43533,0,0,0,1
17422,2022092502,3510,42406,0,0,0,1
17423,2022091113,3642,43478,0,0,0,1
17424,2022091901,3578,42431,0,0,0,1
17425,2022091901,3845,46199,0,0,0,1